<div style="width: 625px; height: 95px; left: 358px; top: 34px; position: absolute; color: #001F3F; font-size: 50px; font-family: Inter; font-weight: 400; word-wrap: break-word">Welcome to PrecesionText</div>
<div style="width: 283px; height: 831px; left: 0px; top: 142px; position: absolute; background: #F0F0F0; border-radius: 20px"></div>
<img style="width: 27px; height: 28px; left: 54px; top: 208px; position: absolute" src = "../static/grammercheck.png" />
<img style="width: 21px; height: 25px; left: 53px; top: 248px; position: absolute" src = "../static/grammer.png" />
<button id = "account" style="width: 123px; height: 28px; left: 95px; top: 164px; position: absolute; border: none; background: none; cursor: pointer; font-size: 22px">Sign-Up</button>
<button id = "grammer" class="menu-button" style="width: 141px; height: 28px; left: 95px; top: 204px; position: absolute; border: none; background: none; cursor: pointer; font-size: 22px">Grammer</button>
<button id = "summarize" class="menu-button" style="width: 165px; height: 28px; left: 95px; top: 244px; position: absolute; border: none; background: none; cursor: pointer; font-size: 22px">Summarize</button>
<button id = "translate" class="menu-button" style="width: 155px; height: 28px; left: 95px; top: 285px; position: absolute; border: none; background: none; cursor: pointer; font-size: 22px">Translate</button>
<button id = "contactus" class="menu-button" style="width: 169px; height: 28px; left: 95px; top: 477px; position: absolute; border: none; background: none; cursor: pointer; font-size: 22px">Contact Us</button>
<button id = "help" class="menu-button" style="width: 159px; height: 36px; left: 95px; top: 515px; position: absolute; border: none; background: none; cursor: pointer; font-size: 22px">Help</button>
<div style="width: 19px; height: 24px; left: 54px; top: 169px; position: absolute;">
  <img src = "../static/user.png" style="width: 100%; height: 100%;">
</div>
<div style="width: 24px; height: 23px; left: 54px; top: 290px; position: absolute;">
  <img src = "../static/translate.png" style="width: 100%; height: 100%;">
</div>
  <img style="width: 24px; height: 22px; left: 54px; top: 486px; position: absolute" src = "../static/contact.png" />
  <img style="width: 22px; height: 23px; left: 54px; top: 520px; position: absolute" src = "../static/help.png" />
  <div style="width: 931px; height: 300px; left: 385px; top: 232px; position: absolute; background: #008080; border-radius: 40px"></div>
  <div style="width: 618px; height: 73px; left: 598px; top: 317px; position: absolute; color: white; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Contact No. +91 93******89<br/><br/>E-mail: info@precesiontext.in</div>
  <button style="width: 249px; height: 96px; left: 17px; top: 28px; position: absolute; border: none; background: transparent;">
    <img src = "../static/precision-text.png" style="width: 100%; height: 100%;">
</button>

<button id = "usericon" style="width: 42px; height: 37.42px; left: 1248px; top: 43px; position: absolute; border: none; background: none; cursor: pointer;">
  <img src = "../static/user.png" style="width: 100%; height: 100%;" alt="User Button">
</button>

<button id = "homeicon" style="width: 42px; height: 37.50px; left: 1339px; top: 43px; position: absolute; border: none; background: none; cursor: pointer;">
  <img src = "../static/home.png" style="width: 100%; height: 100%;" alt="Home Button">
</button>
</div>

<script>
  document.getElementById("account").addEventListener("click", function() {
      // Redirect to account.html
      window.location.href = "/account";
  });

  document.getElementById("grammer").addEventListener("click", function() {
      // Redirect to grammer.html
      window.location.href = "/grammer";
  });

  document.getElementById("summarize").addEventListener("click", function() {
      // Redirect to summarize.html
      window.location.href = "/summarise";
  });

  document.getElementById("translate").addEventListener("click", function() {
      // Redirect to translate.html
      window.location.href = "/translate";
  });

  document.getElementById("contactus").addEventListener("click", function() {
      // Redirect to contactus.html
      window.location.href = "/contactus";
  });

  document.getElementById("help").addEventListener("click", function() {
      // Redirect to help.html
      window.location.href = "/help";
  });

  document.getElementById("usericon").addEventListener("click", function() {
      // Redirect to account.html
      window.location.href = "/signup";
  });

  document.getElementById("homeicon").addEventListener("click", function() {
      // Redirect to home.html
      window.location.href = "/home";
  });
</script>