<!DOCTYPE html>
<html>
<head>
    <title> Signup Form</title>

</head>

    <body>
      <div style="width: 1440px; height: 1024px; position: relative; background: white">
        <div style="width: 717px; height: 681px; left: 362px; top: 154px; position: absolute; background: #BFBFBF; border-radius: 15px; border: 1px rgba(0, 0, 0, 0) solid"></div>
        <div style="width: 287px; height: 60px; left: 582px; top: 217px; position: absolute; color: #001F3F; font-size: 50px; font-family: Inter; font-weight: 400; word-wrap: break-word">Sign up Page</div>
        <form action="/signup_button" method="POST">
          <input type="text" name="email" style="width: 566px; height: 71px; left: 438px; top: 317px; position: absolute; background: white; border-radius: 20px;font-size: 30px; font-family: Inter; font-weight: 400" required placeholder="E-mail">
          <input type="password" name="password" style="width: 566px; height: 71px; left: 438px; top: 423px; position: absolute; background: white; border-radius: 20px; font-size: 30px; font-family: Inter; font-weight: 400;" required placeholder="Password">
          <input type="password" name="confirm_password" style="width: 566px; height: 71px; left: 438px; top: 529px; position: absolute; background: white; border-radius: 20px; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word" required placeholder="Confirm Password">
          <button type="submit" style="width: 136px; height: 36px; left: 652px; top: 672px; position: absolute; background-color: #001F3F; color: white; font-size: 30px; font-family: Inter; font-weight: 400; border: none; border-radius: 5px;">Continue</button>
      </form>
</body> 
